---
title: "Storing and Querying\nEvolving Knowledge Graphs\non the Web"
title_nl: "De opslag en bevraging\nvan evoluerende kennisgrafen\nop het Web"
---
<div class="header-wrapper">
<div class="empty-page">&nbsp;</div>
<div class="empty-page">&nbsp;</div>
<header markdown="1">
# <%= @item[:title].gsub(/[\n]/, '<br />') %>

## <%= @item[:title_nl].gsub(/[\n]/, '<br />') %>

<div style="font-size: 1.3em" markdown="1">
{:#authors}
- <%= person 'Ruben Taelman', 'https://www.rubensworks.net/', 'https://www.rubensworks.net/#me' %>
</div>
 
<div class="purpose">Thesis for obtaining the degree Doctor of Computer Science Engineering</div>
<div class="printonly canonical" style="height: 8em">
    <br />Canonical version: <a href="https://phd.rubensworks.net/">https://phd.rubensworks.net/</a>
</div>

<div style="font-size: 1.1em" markdown="1">
<br />
<strong>Advisors:</strong>
<br />

- <%= person 'prof. dr. ir. Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me', false %>
- <%= person 'dr. Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande', false %>
</div>

<a href="https://ugent.be/"><img src="img/logo_ugent.svg" alt="Ghent University" class="screenonly" style="float: left; height: 150px"></a>
<a href="https://ugent.be/"><img src="img/logo_ugent_black.svg" alt="Ghent University" class="printonly" style="float: left; height: 150px"></a>

{:#affiliations}
- {:#idlab} <a href="https://www.ugent.be/ea/idlab/en">IDLab</a><br />
            <a href="https://www.elis.ugent.be/">Department of Electronics and Information Systems</a><br />
            <a href="https://www.ugent.be/ea">Faculty of Engineering and Architecture</a><br />
            <a href="https://ugent.be/">Ghent University</a> – <a href="https://www.imec.org/">imec</a><br />
            Academic year: 2019–2020

</header>
</div>

<!-- Print-only page with ISBN and stuff -->
<div class="printonly">
<div style="height: 50em"></div>
<span style="font-style: italic"><%= @item[:title].gsub(/[\n]/, ' ') %></span><br />
ISBN: 978-94-6355-341-4<br />
NUR-code(s): 988<br />
Legal deposit number: D/2020/10.500/18<br />
<div class="empty-page">&nbsp;</div>
</div>

<section id="frontmatter">
  <%= section 'abstract' %>
  <%= section 'board' %>
  <%= section 'preface' %>
  <%= section 'toc' %>
  <%= section 'acronyms_list' %>
  <%= section 'summary' %>
  <%= section 'samenvatting' %>
</section>

<main>
  <%= section 'introduction' %>
  
  <section markdown="1" class="sub-paper">
## Generating Synthetic Evolving Data
{:#generating}

<%= section 'generating/_preface', 'sub-preface' %>

{:.published-as}
Ruben Taelman, Pieter Colpaert, Erik Mannens, and Ruben Verborgh. 2019. **[Generating Public Transport Data based on Population Distributions for RDF Benchmarking](https://www.rubensworks.net/raw/publications/2018/podigg.pdf)**. Semantic Web Journal 10, 2 (January 2019), 305–328.

<%= section 'generating/abstract' %>

<%= section 'generating/introduction' %>
<%= section 'generating/related-work' %>
<%= section 'generating/public-transit-background' %>
<%= section 'generating/research-question' %>
<%= section 'generating/methodology' %>
<%= section 'generating/implementation' %>
<%= section 'generating/evaluation' %>
<%= section 'generating/discussion' %>
<%= section 'generating/conclusions' %>

<div class='subfooter'>
  <%= section 'generating/acknowledgements' %>
</div>
  </section>
  
  <section markdown="1" class="sub-paper">
## Storing Evolving Data
{:#storing}

<%= section 'storing/_preface', 'sub-preface' %>

{:.published-as}
Ruben Taelman, Miel Vander Sande, Joachim Van Herwegen, Erik Mannens, and Ruben Verborgh. 2019. **[Triple Storage for Random-Access Versioned Querying of RDF Archives](https://rdfostrich.github.io/article-jws2018-ostrich/)**. Journal of Web Semantics 54 (January 2019), 4–28.

<%= section 'storing/abstract' %>

<%= section 'storing/introduction' %>
<%= section 'storing/related-work' %>
<%= section 'storing/problem-statement' %>
<%= section 'storing/fundamentals' %>
<%= section 'storing/storage' %>
<%= section 'storing/ingestion' %>
<%= section 'storing/querying' %>
<%= section 'storing/evaluation' %>
<%= section 'storing/conclusions' %>

<div class='subfooter'>
  <%= section 'storing/acknowledgements' %>
</div>
  </section>
  
  <section markdown="1" class="sub-paper">
## Querying a heterogeneous Web
{:#querying}

<%= section 'querying/_preface', 'sub-preface' %>

{:.published-as}
Ruben Taelman, Joachim Van Herwegen, Miel Vander Sande, and Ruben Verborgh. 2018. **[Comunica: a Modular SPARQL Query Engine for the Web](https://comunica.github.io/Article-ISWC2018-Resource/)**. In Denny Vrandečić et al., eds. Proceedings of the 17th International Semantic Web Conference. Lecture Notes in Computer Science. Springer, 239–255.

<%= section 'querying/abstract' %>

<%= section 'querying/introduction' %>
<%= section 'querying/related-work' %>
<%= section 'querying/features' %>
<%= section 'querying/architecture' %>
<%= section 'querying/implementation' %>
<%= section 'querying/comparison-tpf-client' %>
<%= section 'querying/conclusions' %>

<div class='subfooter'>
  <%= section 'querying/acknowledgements' %>
</div>
  </section>

  <section markdown="1" class="sub-paper">
## Querying Evolving Data
{:#querying-evolving}

<%= section 'querying-evolving/_preface', 'sub-preface' %>

{:.published-as}
Ruben Taelman, Ruben Verborgh, Pieter Colpaert, and Erik Mannens. 2016. **[Continuous Client-side Query Evaluation over Dynamic Linked Data](https://www.rubensworks.net/raw/publications/2016/Continuous_Client-Side_Query_Evaluation_over_Dynamic_Linked_Data.pdf)**. In Harald Sack, Giuseppe Rizzo, Nadine Steinmetz, Dunja Mladenić, Sören Auer, & Christoph Lange, eds. Proceedings of the 13th Extended Semantic Web Conference: Satellite events. Lecture Notes in Computer Science. Springer, 273–289.

<%= section 'querying-evolving/abstract' %>

<%= section 'querying-evolving/introduction' %>
<%= section 'querying-evolving/related-work' %>
<%= section 'querying-evolving/problem-statement' %>
<%= section 'querying-evolving/use-case' %>
<%= section 'querying-evolving/dynamic-data-representation' %>
<%= section 'querying-evolving/query-engine' %>
<%= section 'querying-evolving/evaluation' %>
<%= section 'querying-evolving/conclusions' %>
<%= section 'querying-evolving/_addendum' %>
  </section>

  <%= section 'conclusions' %>
</main>

<footer></footer>

<div class="empty-page">&nbsp;</div>
<div class="empty-page">&nbsp;</div>

<script type="text/javascript">
    window.addEventListener('load', updateIndex);
    window.addEventListener('scroll', updateIndex);
    
    function updateIndex(){
        // Unselect all other entries
        const entries = document.querySelectorAll('a.index-entry-name');
        for (var i = 0; i < entries.length; i++) {
            entries[i].classList.remove('index-entry-active');
        }
    
        // Select the hovered entry
        var pos = getTocPos();
        if (pos) {            
            var toc = document.querySelector('.index-entries-root');
            var match = toc.querySelector('a[href="#' + pos + '"]');
            if (match) {
                match.classList.add('index-entry-active');
            }
        }
    }
    
    // Get the first section that is visible
    function getTocPos() {
        var sections = document.getElementsByTagName('section');
        for (var i = 0; i < sections.length; i++) {
            var section = sections[i];
            if (section.id && section.getElementsByTagName('section').length === 0 && section.getBoundingClientRect().bottom >= 0) {
                return section.id;
            }
        }
    }
</script>
