---
title: "Storing and Querying<br />Evolving Knowledge Graphs<br />on the Web"
title_nl: "De opslag en bevraging<br />van evoluerende kennisgrafen<br />op het Web"
---
<div class="header-wrapper">
<header markdown="1">
# <%= @item[:title] %>

## <%= @item[:title_nl] %>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

</header>
</div>

<section id="frontmatter">
  <%= section 'abstract' %>
  <%= section 'toc' %>
  <%= section 'acronyms_list' %>
  <%= section 'preface' %>
  <%= section 'summary' %>
</section>

<main>
  <%= section 'introduction' %>
  
  <section markdown="1" class="sub-paper">
## Querying on the Web
{:#querying}

{:.authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:.published-as}
Published as [Comunica: a Modular SPARQL Query Engine for the Web](https://comunica.github.io/Article-ISWC2018-Resource/)

<%= section 'querying/abstract' %>

<%= section 'querying/introduction'  %>
<%= section 'querying/related-work'  %>
<%= section 'querying/features'  %>
<%= section 'querying/architecture'  %>
<%= section 'querying/implementation'  %>
<%= section 'querying/comparison-tpf-client'  %>
<%= section 'querying/conclusions'  %>

<div class='subfooter'>
  <%= section 'querying/acknowledgements'  %>
</div>
  </section>
  
  <%= section 'generating/index' %>
  <%= section 'storing/index' %>
  <%= section 'querying-evolving/index' %>
  <%= section 'conclusions' %>
</main>

<footer></footer>
