---
title: "Storing and Querying<br />Evolving Knowledge Graphs<br />on the Web"
title_nl: "De opslag en bevraging<br />van evoluerende kennisgrafen<br />op het Web"
---
<div class="header-wrapper">
<header markdown="1">
# <%= @item[:title] %>

## <%= @item[:title_nl] %>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

</header>
</div>

<section id="frontmatter">
  <%= section 'abstract' %>
  <%= section 'toc' %>
  <%= section 'acronyms_list' %>
  <%= section 'preface' %>
  <%= section 'summary' %>
</section>

<main>
  <%= section 'introduction' %>
  
  <section markdown="1" class="sub-paper">
## Querying on the Web
{:#querying}

<%= section 'querying/_preface' %>

{:.authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:.published-as}
Published as [Comunica: a Modular SPARQL Query Engine for the Web](https://comunica.github.io/Article-ISWC2018-Resource/)

<%= section 'querying/abstract' %>

<%= section 'querying/introduction' %>
<%= section 'querying/related-work' %>
<%= section 'querying/features' %>
<%= section 'querying/architecture' %>
<%= section 'querying/implementation' %>
<%= section 'querying/comparison-tpf-client' %>
<%= section 'querying/conclusions' %>

<div class='subfooter'>
  <%= section 'querying/acknowledgements' %>
</div>
  </section>
  
  <section markdown="1" class="sub-paper">
## Generating Evolving Data
{:#generating}

<%= section 'generating/_preface' %>

{:.authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>
- <%= person 'Erik Mannens', 'https://www.linkedin.com/in/erikmannens', 'https://data.verborgh.org/people/erik_mannens' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:.published-as}
Published as [Generating Public Transport Data based on Population Distributions for RDF Benchmarking](https://www.rubensworks.net/raw/publications/2018/podigg.pdf)

<%= section 'generating/abstract' %>

<%= section 'generating/introduction' %>
<%= section 'generating/related-work' %>
<%= section 'generating/public-transit-background' %>
<%= section 'generating/research-question' %>
<%= section 'generating/methodology' %>
<%= section 'generating/implementation' %>
<%= section 'generating/evaluation' %>
<%= section 'generating/discussion' %>
<%= section 'generating/conclusions' %>

<div class='subfooter'>
  <%= section 'generating/acknowledgements' %>
</div>
  </section>
  
  <%= section 'storing/index' %>

  <%= section 'querying-evolving/index' %>

  <%= section 'conclusions' %>
</main>

<footer></footer>
