---
title: "Storing and Querying<br />Evolving Knowledge Graphs<br />on the Web"
title_nl: "De opslag en bevraging<br />van evoluerende kennisgrafen<br />op het Web"
---
<div class="header-wrapper">
<header markdown="1">
# <%= @item[:title] %>

## <%= @item[:title_nl] %>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

</header>
</div>

<section id="frontmatter">
  <%= section 'abstract' %>
  <%= section 'preface' %>
  <%= section 'toc' %>
  <%= section 'acronyms_list' %>
  <%= section 'summary' %>
</section>

<main>
  <%= section 'introduction' %>
  
  <section markdown="1" class="sub-paper">
## Querying on the Web
{:#querying}

<%= section 'querying/_preface' %>

{:.authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:.published-as}
Published as [Comunica: a Modular SPARQL Query Engine for the Web](https://comunica.github.io/Article-ISWC2018-Resource/)

<%= section 'querying/abstract' %>

<%= section 'querying/introduction' %>
<%= section 'querying/related-work' %>
<%= section 'querying/features' %>
<%= section 'querying/architecture' %>
<%= section 'querying/implementation' %>
<%= section 'querying/comparison-tpf-client' %>
<%= section 'querying/conclusions' %>

<div class='subfooter'>
  <%= section 'querying/acknowledgements' %>
</div>
  </section>
  
  <section markdown="1" class="sub-paper">
## Generating Evolving Data
{:#generating}

<%= section 'generating/_preface' %>

{:.authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>
- <%= person 'Erik Mannens', 'https://www.linkedin.com/in/erikmannens', 'https://data.verborgh.org/people/erik_mannens' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:.published-as}
Published as [Generating Public Transport Data based on Population Distributions for RDF Benchmarking](https://www.rubensworks.net/raw/publications/2018/podigg.pdf)

<%= section 'generating/abstract' %>

<%= section 'generating/introduction' %>
<%= section 'generating/related-work' %>
<%= section 'generating/public-transit-background' %>
<%= section 'generating/research-question' %>
<%= section 'generating/methodology' %>
<%= section 'generating/implementation' %>
<%= section 'generating/evaluation' %>
<%= section 'generating/discussion' %>
<%= section 'generating/conclusions' %>

<div class='subfooter'>
  <%= section 'generating/acknowledgements' %>
</div>
  </section>
  
  <section markdown="1" class="sub-paper">
## Storing Evolving Data
{:#storing}

<%= section 'storing/_preface' %>

{:.authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande' %>
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>
- <%= person 'Erik Mannens', 'https://www.ugent.be/ea/idlab/en/members/erik-mannens.htm', 'https://data.verborgh.org/people/erik_mannens' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:.published-as}
Published as [Triple Storage for Random-Access Versioned Querying of RDF Archives](https://rdfostrich.github.io/article-jws2018-ostrich/)

<%= section 'storing/abstract' %>

<%= section 'storing/introduction' %>
<%= section 'storing/related-work' %>
<%= section 'storing/problem-statement' %>
<%= section 'storing/fundamentals' %>
<%= section 'storing/storage' %>
<%= section 'storing/ingestion' %>
<%= section 'storing/querying' %>
<%= section 'storing/evaluation' %>
<%= section 'storing/conclusions' %>

<div class='subfooter'>
  <%= section 'storing/acknowledgements' %>
</div>
  </section>

  <%= section 'querying-evolving/index' %>

  <%= section 'conclusions' %>
</main>

<footer></footer>

<script type="text/javascript">
    window.addEventListener('load', updateIndex);
    window.addEventListener('scroll', updateIndex);
    
    function updateIndex(){
        // Unselect all other entries
        const entries = document.querySelectorAll('a.index-entry-name');
        for (var i = 0; i < entries.length; i++) {
            entries[i].classList.remove('index-entry-active');
        }
    
        // Select the hovered entry
        var pos = getTocPos();
        if (pos) {            
            var toc = document.querySelector('.index-entries-root');
            var match = toc.querySelector('a[href="#' + pos + '"]');
            if (match) {
                match.classList.add('index-entry-active');
            }
        }
    }
    
    // Get the first section that is visible
    function getTocPos() {
        var sections = document.getElementsByTagName('section');
        for (var i = 0; i < sections.length; i++) {
            var section = sections[i];
            if (section.id && section.getElementsByTagName('section').length === 0 && section.getBoundingClientRect().bottom >= 0) {
                return section.id;
            }
        }
    }
</script>
